# Environment Variables & Secrets
.env
.env.*
*.env

# Python Virtual Environments & Caches
backend/venv/
venv/
ENV/
*.pyc
__pycache__/

# Node / Frontend Build & Caches
node_modules/
dist/
.vite/
.cache/
*.logs